//makosh
.modal-region-deliv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
}
.modal-region__head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 34px;
  .log {
    width: 141px;
    height: auto;
    display: flex;
    margin-right: 31px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.modal-window.loc {
  z-index: 2100;
  .modal-lg {
    width: 800px;
  }
  .modal-content {
    position: relative;
    .modal-header {
      position: absolute;
      top: 0;
      right: 0;
    }
    .modal-body {
      padding-top: 27px;
      padding-left: 55px;
      padding-right: 55px;
      padding-bottom: 40px;
      &::before {
        position: absolute;
        width: 92px;
        height: 101px;
        display: inline-block;
        content: '';
        bottom: 0;
        left: 0;
        background: url("../image/collos-ic.png") no-repeat center / 100%;
        z-index: 1;
      }
    }
  }

}

.modal-region__cont {
  width: 100%;

  ul {
    width: 100%;
    max-height: 255px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    writing-mode: vertical-lr;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      writing-mode: initial;
      margin-bottom: 5px;
      a {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #4A4A4A;
        &.active, &:hover {
          color: #EC5E2F;
          text-decoration: underline;
        }
        &.disabled {
          color: #D7D7D7;
          pointer-events: none;
        }
      }

    }
  }
}
.modal-region__txt {
  padding-left: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 12px;
  span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #4A4A4A;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
     color: #4A4A4A;
    margin-bottom: 0;
  }
  i {
    display: inline-block;
    width: 30px;
    height: 29px;
    vertical-align: middle;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

}
.header-location {
  position: relative;
  &:hover {
    .deliv-tooltip {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .deliv-tooltip {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 14px 10px;
    opacity: 0;
    pointer-events: none;
    width: 250px;
    z-index: 2000;
    transition: opacity 0.3s ease;
    border: 1px solid #4A4A4A;
    span {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #4A4A4A;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 150%;
      color: #4A4A4A;
      margin-bottom: 0;
    }
  }

  .deliv-region {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 30px;

    i {
      display: inline-block;
      width: 30px;
      height: 29px;
      vertical-align: middle;
      margin-right: 10px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }

    span {
      position: relative;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 150%;
      color: #4A4A4A;
      cursor: pointer;

      &::after {
        content: '?';
        color: #000000;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #F4CDBF;
        position: absolute;
        left: calc(100% + 2px);
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    p {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #4A4A4A;
      border-bottom: 1px dashed #EC5E2F;
      margin-bottom: 0;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .header-phones__main {
    font-size: 12px;
  }
  .header-location .deliv-region p {
    font-size: 10px;
  }
}
.main-menu__collapse {
  .header-location {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .modal-window.loc .modal-content .modal-body {
    padding-left: 26px;
    padding-right: 26px;
  }
  .modal-region__cont ul li {
    display: flex;
  }
  .modal-region__cont ul li a {
    font-size: 13px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 700px) {
  .modal-region__cont ul {
    max-height: 280px;
  }
  .modal-region__head .log {
    width: 110px;
    margin-right: 20px;
  }
  .modal-region__txt {
    span {
      font-size: 13px;
    }
  }
  .header-location .deliv-region p {
    display: none;
  }
  .main-menu__collapse .header-location .deliv-region p {
    display: block;
  }
  .header-location .deliv-region span {
    font-size: 9px;
    &::after {
      content: none;
    }
  }
  .deliv-tooltip {
    display: none;
  }
  .header-location .deliv-region {
    padding-left: 23px;
  }
  .header-location .deliv-region i {
    width: 20px;
    height: 19px;
    background-size: contain;
  }
}
@media screen and (max-width: 600px) {
  .header-block__item {
    .header-location {
      display: none;
    }
  }
  .main-menu__collapse {
    .header-location {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
    }
    .deliv-region {
      span {
        width: 100%;
        text-align: center;
      }
      p {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 525px) {
  .modal-region__txt {
    padding-left: 22px;
  }
  .modal-region__txt i {
    width: 20px;
    height: 20px;
    background-size: contain;
  }
  .modal-region__cont ul li a {
    font-size: 10px;
  }
  .modal-region__head {
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .log {
      margin-left: auto;
      margin-right: auto;

    }
  }
}
.audit-grunt {
  &.audit-grunt__custom {
    .slide {
      height: 700px;
    }

    .container {
      max-width: 1410px;
      left: 50%;
      transform: translate(-50%, 0);
      background: none;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    h1 {
      font-size: 48px;
      line-height: 1.1;
      text-align: left;
      margin-top: 0;
    }

    p {
      text-align: left;
      margin-left: 0;
      margin-right: 0;
      font-size: 20px;
    }

    .feed-btn {
      width: auto;
      padding-left: 21px;
      padding-right: 21px;
    }
  }
}

.audit-grunt .slide__bg {
  &.slide__bg-custom {
    height: 100%;
    background: #000;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.comp-about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.comp-log {
  max-width: 340px;
  width: 100%;
  margin-right: 80px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

.comp-text {
  flex-grow: 1;
  position: relative;
  padding-top: 80px;


  span {
    background: #fff;
    padding-right: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    max-width: 67%;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000;

    strong {
      color: #FF5112;
      font-weight: inherit;
    }
  }

  .text {

    width: 100%;
    max-width: 825px;
    margin-left: auto;
    padding: 111px 128px;
    box-sizing: border-box;
    border: 5px solid #F0F0F0;
    position: relative;

    p {
      position: relative;
      z-index: 2;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      /* or 30px */


      color: #4A4A4A;
    }

    &::before {
      display: inline-block;
      background: #fff;
      content: '';
      top: -5px;
      left: -5px;
      width: 64%;
      padding-top: 21%;
      z-index: 1;
      position: absolute;
    }


  }
}

.comp-hist {
  width: 100%;

  .review_banners_wrap.owl-carousel {
    max-width: none;
    width: 100%;
    margin: 0;
    position: relative;

    .owl-item {
      width: 100%;
    }

    img {
      margin-top: 0;
    }

    &::before, &::after {
      content: none;
    }

    .owl-prev, .owl-next {
      position: absolute;
      top: 50%;
    }

    .owl-prev {
      left: 0;
      background: url("https://makosh-group.com.ua/catalog/view/theme/unishop2/image/slide-left.png") no-repeat center;
    }

    .owl-nav {
      position: static;
    }

    .owl-next {
      right: 0;
      background: url("https://makosh-group.com.ua/catalog/view/theme/unishop2/image/slide-right.png") no-repeat center;

    }
  }

}

.review_banners_wrap {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.comp-hist__man {
  width: calc(25% - (60px / 4));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.comp-hist__man-text {
  width: 100%;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;

  p {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  span {

  }

  strong {
    font-weight: 700;
  }
}

.comp-log {
  display: none !important;
}

.text-mod {
  margin-top: auto;
  padding: 5px;
  width: 100%;
  text-align: center;
  background: #FF5112;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dets-text {
  width: 100%;
  padding: 0 35px 10px;
}

@media screen and (max-width: 600px) {
  .dets-text {
    width: 100%;
    padding: 0 10px 10px;
  }
}

.modal-window.txt {
  .modal-body {
    padding-top: 0;
    margin-top: 0;
  }

  .modal-inform {
    & > p {
      font-weight: 600;
    }
  }
}

.comp-hist__man-head {
  width: 100%;
  border: 5px solid #d9d9d9;
  position: relative;
  padding: 15px;
  box-sizing: border-box;
  max-width: 840px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;


  .img {
    width: 100%;
    position: relative;
    padding-top: 100%;
    height: 0;
    margin-bottom: 15px;
    box-sizing: border-box;

    overflow: hidden;


    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      object-fit: cover;
    }


  }

  .text {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #4A4A4A;
      margin-top: 12px;
      max-width: 300px;
    }

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
    }
  }

  &::before {
    background: #fff;
    width: 60%;
    height: 35%;
    display: inline-block;
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 1;
  }

  .img, .text {
    position: relative;
    z-index: 2;
  }

}

.comp-hist__man {
  &:hover {
    .text-mod {
      transition: background-color 0.3s ease;
      background-color: #000;
    }
  }
}

.comp-hist__head {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 60px;

  &::before {
    width: 47px;
    height: 47px;
    display: inline-block;
    content: '';
    margin-right: 19px;
    background: url("../image/makosh/sqrds.svg") no-repeat center / 100%;
  }

  p {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000 !important;
    margin-bottom: 0;
  }

  &::after {
    width: auto;
    flex-grow: 1;
    height: 1px;
    background: #D9D9D9;
    display: inline-block;
    content: '';
    margin-left: 30px;
  }
}

.page-vacancies .custom_order {
  min-height: 464px;
  background: url(https://makosh-group.com.ua/image/contacts_bottom.jpg) no-repeat top center;
  margin-top: -20px;
  margin-bottom: -50px;
  padding: 55px 0 0;
  background-size: cover;

  .modal-body, .modal-header, .modal-footer {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0);
  }
}

.custom-umovi.main_text_bottom {
  background: url(https://makosh-group.com.ua/catalog/view/theme/unishop2/image/review_banners_l.png) no-repeat right center, url(https://makosh-group.com.ua/catalog/view/theme/unishop2/image/review_banners_r.png) no-repeat left center;

  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
    max-width: 1007px;
    margin-left: auto;
    margin-right: auto;
  }
}

.custom-umovi a.knop01 {

  color: #fff;
  text-decoration: none;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  padding: 12px 55px;
  margin: 8px;

  &.knop02 {
    font-size: 16px;
  }
}

.comp-stages {
  width: 100%;
  display: flex;
  gap: 26px;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.comp-stages__single {
  width: calc(50% - 13px);
  border: 5px solid #d9d9d9;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 200px;
  padding: 50px 69px;
  box-sizing: border-box;

  &::before {
    position: absolute;
    width: 120px;
    height: 70px;
    background: #fff;
    display: inline-block;
    content: '';
    z-index: 1;
  }

  &:nth-child(even) {
    &::before {
      right: -5px;
      top: -5px;
      left: auto;
      bottom: auto;
    }
  }

  &:nth-child(odd) {
    &::before {
      left: -5px;
      bottom: -5px;
      right: auto;
      top: auto;
    }
  }

  &:nth-child(1) {
    &::before {
      left: -5px;
      top: -5px;
      bottom: auto;
      right: auto;
    }
  }

  &:last-child {
    &::before {
      right: -5px;
      bottom: -5px;
      left: auto;
      top: auto;
    }
  }

  .text {
    max-width: 423px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 15px;
    position: relative;
    z-index: 2;

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      color: #000000;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #4a4a4a;
    }
  }

  .img {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 2;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
      margin: 0;
    }

    margin-left: auto;
  }
}

.comp-vacancies {
  width: 100%;
  gap: 55px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

}

.comp-vacancy {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: 5px solid #F0F0F0;
  transition: border 0.4s ease;

  &.active {
    border: 5px solid #FF5112;

    .comp-vacancy__head {
      .img {
        img {
          transform: rotate(0deg);
        }
      }
    }

    .comp-vacancy__cont {
      padding-top: 28px;
      padding-bottom: 50px;
      max-height: none;
      border-top: 1px solid #D9D9D9;
    }
  }
}

.comp-vacancy__head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 43px 60px;
  box-sizing: border-box;
  cursor: pointer;

  .text {
    margin-right: 15px;

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #4a4a4a;
    }

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      color: #000000;
    }
  }

  .img {
    width: 60px;
    height: 60px;
    margin: 0;
    margin-left: auto;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      margin: 0;
      transform: rotate(180deg);
      transition: transform 0.3s ease;
    }
  }
}

body.page-vacancies {
  overflow: initial;
}

.btn-modal-vac {
  background-color: #FF5112;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.modal-window {
  .modal-dialog {
    z-index: 1060;
  }

  .modal-header {
    display: flex;
  }

  .modal-close {
    float: none;
    margin-left: auto;
  }
}

.modal-inform {
  width: 100%;
  margin-top: 10px;

  > p {
    font-size: 26px;
    width: 100%;
    text-align: center;
  }

  form {
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 45px;

    input {
      margin-bottom: 15px;
    }

    .btn {
      color: #ffffff;
      width: 100%;
      background: #ff5112;
    }
  }
}

body {
  &.modal-open {
    overflow: hidden !important;
  }
}

.file-up {
  width: 100%;

  label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    &::before {
      width: 24px;
      height: 32px;
      display: inline-flex;
      content: '';
      margin-right: 12px;
      background: url("../image/makosh/skrepka.svg") no-repeat center / 100%;

    }

    p {
      font-size: 16px;
      color: #4A4A4A;
      margin: 0;
    }
  }

  input {
    display: none;

  }
}

html {
  height: auto;
}

.comp-vacancy__cont {
  width: 100%;
  padding: 25px 60px 50px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  contain: paint;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;


  .left {
    flex-grow: 1;
    display: flex;
    margin-right: 75px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    p {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }


    ul {
      margin-bottom: 25px;
      list-style: none;
      padding-left: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    p, li {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #4A4A4A;

      strong {
        font-weight: 700;
      }
    }

    li {
      position: relative;
      padding-left: 14px;

      &::before {
        width: 2px;
        height: 2px;
        background: #4A4A4A;
        border-radius: 50%;
        display: inline-block;
        content: '';
        position: absolute;
        top: 14px;
        left: 6px;

      }
    }

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      color: #000000;
      display: inline-block;
      margin-bottom: 22px;
    }
  }

  .right {
    max-width: 272px;
    flex-shrink: 0;
    position: sticky;
    top: 40px;
    width: 100%;

    p {
      text-align: center;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #4A4A4A;
    }

    .btn {
      font-size: 20px;
      width: 100%;
      max-width: 100%;
      padding: 15px 35px;
      height: auto;
      white-space: initial;
      margin-top: 24px;
      line-height: 1.2 !important;
    }
  }
}

@media screen and (max-width: 1440px) {
  .comp-text span {
    font-size: 28px;
    line-height: 1.1;
  }
  .comp-text {
    padding-top: 45px;
  }
  .comp-text .text p {
    font-size: 16px;
    line-height: 1.1;
  }
  .audit-grunt {
    &.audit-grunt__custom {
      h1 {
        font-size: 36px;
      }

      p {
        font-size: 18px;
      }

      .slide {
        height: 450px;
      }
    }

  }
}

@media screen and (max-width: 1200px) {
  .custom-umovi a.knop01 {
    font-size: 16px;
  }
  .comp-vacancy__head {
    padding: 25px 30px;

    .text {
      span {
        font-size: 20px;
      }

      p {
        font-size: 16px;
      }
    }
  }
  .comp-vacancy__cont .right .btn {
    font-size: 16px;
    padding: 15px 20px;
  }
  .comp-vacancy__cont {
    padding-left: 30px;
    padding-right: 30px;
  }
  .comp-vacancy.active .comp-vacancy__cont {
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .comp-vacancy__cont .left li::before {
    top: 11px;
  }
  .comp-vacancy__cont .right {
    max-width: 240px;

    p {
      font-size: 12px;
      line-height: 1.2;
    }
  }
  .comp-vacancy__cont .left {
    margin-right: 40px;

    span {
      font-size: 20px;
    }

    p, li {
      font-size: 16px;
    }
  }
  .comp-stages__single {
    padding: 30px 20px;
    min-height: 160px;

    .text {
      span {
        font-size: 18px;
      }

      p {
        font-size: 16px;
      }
    }
  }
  .comp-text .text {
    padding: 50px 40px;
  }
  .comp-log {
    max-width: 210px;
  }
  .comp-text span {
    font-size: 20px;
  }
  .comp-hist__head p {
    font-size: 28px;
    line-height: 1.2;
  }
  .comp-hist__head {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .comp-hist__man-head .text {
    span {
      font-size: 20px;
      line-height: 1.2;
    }

    p {
      font-size: 16px;
      line-height: 1.2;
    }
  }
}

@media screen and (max-width: 992px) {
  .custom-umovi.main_text_bottom {
    background: url(https://makosh-group.com.ua/catalog/view/theme/unishop2/image/review_banners_l.png) no-repeat right center/ 60px, url(https://makosh-group.com.ua/catalog/view/theme/unishop2/image/review_banners_r.png) no-repeat left center / 60px;

  }
  .custom-umovi.main_text_bottom {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  .comp-hist__man {
    width: calc(50% - 10px);
  }
  .custom-umovi.main_text_bottom .btns {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .comp-vacancies {
    gap: 30px;
  }
  .comp-stages {
    gap: 14px;
  }
  .comp-stages__single {
    width: calc(50% - 7px);

    .img {
      width: 45px;
      height: 45px;
    }

    .text {
      span {
        font-size: 16px;
      }

      p {
        font-size: 14px;
      }
    }
  }
  .comp-hist .review_banners_wrap.owl-carousel {
    .owl-prev {
      left: -35px;
    }

    .owl-next {
      right: -35px;
    }
  }
  .comp-log {
    max-width: 180px;
    margin-right: 40px;
  }
  //.comp-hist__man-head .img {
  //  width: 260px;
  //  height: 260px;
  //}
}

@media screen and (max-width: 900px) {
  .audit-grunt {
    &.audit-grunt__custom {
      h1 {
        font-size: 28px;
      }

      p {
        font-size: 16px;
      }

      .slide {
        height: 250px;
      }
    }

  }
}

@media screen and (max-width: 812px) {
  //.comp-hist__man-head .img {
  //  width: 230px;
  //  height: 230px;
  //}
  .comp-hist__man {
    //padding-left: 20px;
    //padding-right: 20px;
  }
  .comp-hist .review_banners_wrap.owl-carousel {
    .owl-next {
      right: -25px;
      width: 26px;
    }

    .owl-prev {
      left: -25px;
      width: 26px;
    }
  }
}

@media screen and (max-width: 767px) {
  //.comp-hist__man-head .img {
  //  margin-right: 20px;
  //  flex-shrink: 0;
  //}
  .comp-hist__man-head .text {
    span {
      font-size: 20px;
      line-height: 1.2;
    }

    p {
      font-size: 16px;
      line-height: 1.2;
    }
  }
  .comp-hist__head {
    &::before {
      width: 30px;
      height: 30px;
    }

    p {
      font-size: 22px;
    }
  }
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .comp-hist__head {
    margin-top: 35px;
  }
  .comp-vacancies {
    gap: 20px;
  }
  .comp-vacancy__cont {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .left {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }

    .right {

    }
  }
  .comp-stages__single {
    width: 100%;
  }
  .comp-about {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .comp-log {
    max-width: 210px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .comp-text {
    width: 100%;
    padding-top: 00px;

    span {
      left: auto;
      top: auto;
      bottom: calc(100% - 20px);
      right: 0;
      max-width: calc(100% - 230px);
    }

    .text {
      &::before {
        width: calc(100% - 190px);
        left: auto;
        right: -5px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .page-vacancies .row {
    margin: 0;
  }
  .custom-umovi.main_text_bottom {
    padding-left: 65px !important;
    padding-right: 65px !important;
  }
  .comp-vacancy__head .text {
    span {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }
  }
  .comp-vacancy__head {
    .img {
      flex-shrink: 0;
    }
  }
  .comp-vacancy__head {
    padding: 20px 14px;
  }
  .comp-vacancy__cont {
    padding-left: 14px;
    padding-right: 14px;
  }
  .comp-vacancy__cont .left span {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .comp-vacancy__cont .left p, .comp-vacancy__cont .left ul {
    margin-bottom: 14px;
  }
  .comp-vacancy__cont .right {
    max-width: none;
  }
  .comp-hist__man-head {
    padding: 10px 6px;
  }
  .review_banners_wrap {
    gap: 10px;
  }
  .comp-hist__man {
    width: calc(50% - 5px);
  }
  .comp-hist__man-head .text {
    span {
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }
  }
  .page-vacancies .custom_order {
    margin-bottom: 0;
    margin-top: 0;
  }
  .page-vacancies .custom_order .modal-footer {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 560px) {
  .comp-hist__man-head {
    width: 100%;
    border: 3px solid #d9d9d9;
  }
  .modal-inform > p {
    font-size: 22px;
  }
  .modal-inform {
    padding-left: 10px;
    padding-right: 10px;
  }
  .custom-umovi.main_text_bottom {
    background: url(https://makosh-group.com.ua/catalog/view/theme/unishop2/image/review_banners_l.png) no-repeat right center/ 35px, url(https://makosh-group.com.ua/catalog/view/theme/unishop2/image/review_banners_r.png) no-repeat left center / 35px;

  }
  .custom-umovi.main_text_bottom {
    padding: 50px 40px !important;
  }
  .custom-umovi a.knop01 {
    width: 100%;
  }
  .custom-umovi a.knop01 {
    padding: 14px 15px;
  }
  .comp-hist__head {
    &::before {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }

    p {
      font-size: 17px;
    }

    &::after {
      margin-left: 15px;
    }
  }
  .comp-hist__man-head {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .img {
      margin-right: 0;
      margin-bottom: 15px;
      //width: 190px;
      //height: 190px;
    }

    .text {
      p, span {
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }
  }
  .comp-hist .review_banners_wrap.owl-carousel .owl-prev {
    left: 0;
    top: 120px;
  }
  .comp-hist__man-text p {
    font-size: 12px;
    margin-bottom: 6px;
  }
  .comp-hist .review_banners_wrap.owl-carousel .owl-next {
    right: 0;
    top: 120px;
  }
  .comp-hist__man {
    //padding-left: 30px;
    //padding-right: 30px;
  }
}

@media screen and (max-width: 525px) {
  .audit-grunt {
    &.audit-grunt__custom {
      h1 {
        font-size: 22px;
      }

      p {
        font-size: 16px;
      }

      .slide {
        height: 210px;
      }
    }

  }
  .comp-log {
    max-width: 210px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .comp-text {
    width: 100%;
    padding-top: 50px;

    span {
      top: 0;
      bottom: auto;
      right: 0;
      left: 0;
      max-width: none;
      background: rgba(255, 255, 255, 0);
    }

    .text {
      &::before {
        width: auto;
        left: -5px;
        right: 30px;
        padding-top: 15%;
      }
    }
  }
  .comp-text .text {
    padding: 50px 20px 20px;

    span {
      font-size: 18px;
    }

    p {

    }
  }
}

